.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px 10px;
  color: white;
  background-color: #2874f0;
  border-radius: 7px;
  border: 2px solid white;
  cursor: pointer;
}
.my-1{
  margin: 5px 0;
  padding: 0 10px;
}
.my-2{
  margin: 27px 0;
}
.text-center{
  text-align: center;
}